/*General styles*/

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: overlay;
  position: relative;
  overflow-x: hidden;
  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --primary-light-text-color: #fff;
  --durability-text-color: #26292cb9;
  --text-decoration-color: #383838c7;
  --dark-background : #161616;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

@font-face {
  font-family: "Matter Regular";
  src: url('assets/fonts-ttf/matter-regular.ttf') format('truetype');
}

@font-face {
  font-family: "Matter Light";
  src: url('assets/fonts-ttf/matter-light.ttf') format('truetype');
}

#main {
  width: 100%;
  background-color: var(--primary-light-text-color);
}

.container {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

.fh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Herp styles */

.content-container {
  width: 100%;
  padding: 15vw 11vw;
}

.cover {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  padding-bottom: 0%;
}

.content {
  display: flex;
  flex-direction: column;
}

.content-upper {
  font-family: "Matter Regular";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-left: 6px;
  color: var(--primary-text-color);
}

.content-upper::selection {
  color: var(--primary-light-text-color);
  background-color: var(--primary-text-color);
}

.content-medium {
  font-family: "Matter Regular";
  font-size: 7.5rem;
  color: transparent;
  -webkit-text-stroke: 2px #605d5d;
  letter-spacing: -6px;

}

.end-home-page {
  width: 100%;
  padding: 1vw 11vw;
  display: flex;
  flex-direction: column;
}

.end-content {
  font-family: "Matter Regular";
  font-size: 30px;
  font-weight: 600;
  word-spacing: 2px;
  line-height: 40px;
}

.end-content::selection {
  color: var(--primary-light-text-color);
  background-color: var(--primary-text-color);
}

/*Contact info styles*/

#third-page, #fifth-page {
  width: 100%;
  padding-top: 13vw;
  padding-bottom: 13vw;
  background-color: var(--primary-light-text-color);
}

.third-page-content, .fifth-page-content {
  margin-top: -15vh;
}

.third-page-upper, .fifth-page-upper {
  color: var(--primary-text-color);
  font-family: "Matter Regular";
  font-size: 100px;
  display: flex;
  flex-direction: column;
  padding: 5vw 11vw;
  padding-bottom: 1vw;
}

.hey {
  font-family: "Matter Light";
  font-style: italic;
}

.third-page-middle, .fifth-page-middle, .sixth-page-middle {
  padding: 3vw 11vw;
  margin-top: 2vw;
}

.third-page-middle p {
  font-family: "Matter Light";
  font-size: 30px;
}

.third-page-lower {
  padding: 0vw 11vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 2vw;
}
.third-page-lower__btn {
  display: flex;
  align-items: center;
}
.contact-icon {
  width: 30px;
  height: 30px;
  padding-right: 7px;
}

.third-page-lower button {
  padding: 1.3vw 2vw;
  font-family: "Matter Regular";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--primary-text-color);
  background-color: transparent;
  border: 2.5px solid var(--primary-text-color);
  border-radius: 100px;
  text-transform: capitalize;
}

/* Skills styles */

#fourth-page, #sixth-page {
  width: 100%;
  background-color: var(--dark-background);
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.fourth-page-upper, .sixth-page-upper  {
  padding: 3vw 11vw;
  color: var(--primary-light-text-color);
  padding-bottom: 0vw;
}

.fourth-page-upper p, .sixth-page-upper p {
  font-family: "Matter Regular";
  font-size: 120px;
  font-weight: 500;
  color: var(--primary-light-text-color);
  margin-top: -2vw;
}

.fourth-page-upper p::selection {
  color: var(--primary-text-color);
  background-color: var(--primary-light-text-color);
}

.resources {
  font-family: "Matter Light";
  font-style: italic;
}

.fourth-page-middle {
  padding: 3vw 11vw;
  padding-top: 4.5vw;
}

#github-btn {
  padding: 10px 45px;
}

.fourth-page-middle button {
  padding: 10px 20px;
  font-family: "Matter Regular";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--primary-light-text-color);
  background-color: transparent;
  border: 2px solid #7a7070;
  border-radius: 100px;
  text-transform: capitalize;
}

.fourth-page-middle a {
  padding-right: 10px;
}

.skill-btn svg, #github-btn svg{
  height: 35px;
  width: 35px;
}

.fourth-page-lower {
  padding: 0vw 11vw;
  margin-top: -1vw;
}

.fourth-page-lower p {
  font-family: "Matter Light";
  width: 62.5%;
  font-size: 24px;
  font-weight: 200;
  color: var(--primary-light-text-color);
}

/*Experience and additional info styles*/

.fifth-page-middle {
  display: flex;
  justify-content: space-between;
}

.experiences {
  flex: 1 1 60%;
  margin-right: 50px;
}

.experiences__header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.experiences__company-header-durability {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 11px;
  font-family: "Matter Light";
  font-size: 18px;
}

.experiences__company-header-name {
  color: var(--primary-text-color);
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
  text-align: left;
  margin-block: 9px 20px;
  font-family: "Matter Regular";
  font-size: 30px;
}

.experiences__company-project {
  margin-left: 15px;
  margin-bottom: 25px;
}

.experiences__company-project-role {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 10px;
  font-family: "Matter Light";
  font-style: italic;
  font-size: 20px;
}

.experiences__company-project-name {
  color: var(--primary-text-color);
  text-align: left;
  margin-block: 10px;
  font-family: "Matter Regular";
  font-size: 25px;
}

.experiences__company-project-responsibilities {
  color: var(--secondary-text-color);
  padding-left: 15px;
  font-family: "Matter Light";
  font-size: 20px;
}

.experiences__company-project-responsibilities li {
 margin-bottom: 5px;
}

.light-txt {
  color: var(--primary-light-text-color);
}

.align-end {
  text-align: end;
}

.no-underline {
  text-decoration: none;
}


@media (max-width:576px) {
  html {
    overflow-x: hidden;
  }

  body {
    width: 100vw;
  }

  .content-container {
    width: 100vw;
    height: 68.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 100vw;
    display: flex;
  }

  .content-upper {
    font-size: 30px;
    font-family: "Matter Regular";
    margin-left: 2px;
  }


  .content-medium {
    font-size: 70px;
    letter-spacing: -2px;
    line-height: 63px;
    font-family: "Matter Regular";
    margin-bottom: 4px;
    -webkit-text-stroke: 1px #605d5d;
  }

  .end-content {
    font-size: 25px;
    font-weight: 600;
    word-spacing: 2px;
    line-height: 28px;
    margin-bottom: 10px;
    font-family: "Matter Regular";
  }

  .featured-heading {
    font-size: 70px;
    font-family: "Matter Regular";
  }

  .scroll-instruction {
    font-size: 15px;
    color: #817f7f;
    padding-bottom: 2vw;
    margin-top: -6vw;
    margin-bottom: 4vw;
    font-family: "Matter Regular";
  }

  .scrollIconBody {
    display: none;
  }

  .featured-body {
    overflow-x: auto;
    height: 60vh;
    width: 78vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .project-name {
    font-family: "Matter Regular";
  }

  .special,
  .special-2,
  .special-3,
  .special-4 {
    font-family: "Matter Regular";
  }

  .featured-body a {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1vw;
    height: max-content;
    margin: 0vh 0vw;
  }

  .featured-body::-webkit-scrollbar {
    width: 3px;
    background-color: #434142;
    height: 5px;
    padding: 5px 5px;
    border-radius: 15px;

  }


  .featured-body::-webkit-scrollbar-thumb {
    background: #bdbcbc;
    width: 3px;
    border-radius: 15px;
  }

  .project-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1vw;
    height: max-content;
    margin: 0vh 7.9vw;

  }

  .project-description {
    width: 63vw;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-light-text-color);
    padding-left: 0.5vw;
    margin-bottom: 3.5vh;
  }

  .project-short-description {
    font-family: "Matter Regular";
    font-size: calc(15px + 1.5vw);
    font-weight: 400;
    text-transform: capitalize;
    color: #817f7f;
  }

  .project-tags {
    font-family: "Matter Regular";
    font-size: 15px;
    font-size: calc(8.5px + 1.5vw);
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    opacity: 0.3;
  }

  .project-preview {
    width: 63vw;
    margin-left: -4vw;
  }

  .view-projects {
    margin-top: -25vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view-projects button {
    padding: 2.3vw 3vw;
    font-family: "Matter Regular";
    font-size: 15px;
    color: var(--primary-light-text-color);
    letter-spacing: 1.2px;
    background-color: transparent;
    border: 2px solid #7a7070;
    border-radius: 100px;
  }

  #third-page {
    height: 110vh;
    width: 100%;
    padding-top: 13vw;
    padding-bottom: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .third-page-upper, .fifth-page-upper {
    color: var(--primary-text-color);
    font-family: "Matter Regular";
    font-size: 48px;
    display: flex;
    flex-direction: column;
    padding: 5vw 11vw;
    padding-bottom: 1vw;
  }

  .hey {
    font-family: "Matter Regular";
  }


  .third-page-middle {
    padding: 3vw 11vw;
    margin-top: 2vw;
    margin-bottom: 4vw;
  }

  .third-page-middle p {
    font-family: "Matter Light";
    font-size: 30px;
  }

  .third-page-lower {
    padding: 0vw 11vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    gap: 2vw;
  }

  .third-page-lower button {
    padding: 2.3vw 3vw;
    font-family: "Matter Regular";
    font-size: 17px;
    font-weight: 500;
    color: var(--primary-text-color);
    background-color: transparent;
    border: 2px solid var(--primary-text-color);
    border-radius: 100px;
    text-transform: capitalize;
    margin: 0.5vh 0vh;
  }

  #fourth-page {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-background);
    padding-bottom: 10vw;
    padding-left: 11vw;
    padding-right: 11vw;
    display: flex;
    align-items: center;
  }

  .fourth-page-content {
    padding: 0%;
    margin: 0%;
  }

  .fourth-page-upper, .sixth-page-upper {
    color: var(--primary-light-text-color);
    padding-bottom: 0vw;
    padding: 0vw 0vw;
  }

  .fourth-page-upper p, .sixth-page-upper p {
    font-family: "Matter Regular";
    font-size: 50px;
    font-weight: 500;
    color: var(--primary-light-text-color);
    margin-top: -2vw;
  }

  .fourth-page-middle {
    padding: 4.5vw 0vw;
  }

  .fourth-page-middle button {
    padding: 1.3vw 2vw;
    font-family: "Matter Regular";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--primary-light-text-color);
    background-color: transparent;
    border: 2px solid #7a7070;
    border-radius: 100px;
    text-transform: capitalize;
  }

  .fourth-page-lower {
    padding: 3vw 0vw;
  }

  .fourth-page-lower p {
    font-family: "Matter Light";
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    color: var(--primary-light-text-color);
  }

  #fifth-page {
    width: 100%;
    padding-top: 13vw;
    padding-bottom: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fifth-page-content {
    margin-top: 15vh;
  }

  .fifth-page-middle {
    flex-direction: column;
    row-gap: 20px;
  }

  #sixth-page {
    width: 100%;
    background-color: #161616;
    padding-bottom: 10vw;
    padding-left: 11vw;
    padding-right: 11vw;
    padding-top: 15vh ;
  }
}
