/*General styles*/

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: overlay;
  position: relative;
  overflow-x: hidden;
  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --durability-text-color: #6a737d9c;
  --icon-color: #6a737d;
  --border-color: #ff9a0045;
  --text-decoration-color: #ff9a00;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

@font-face {
  font-family: "Matter Regular";
  src: url('assets/fonts-ttf/matter-regular.ttf') format('truetype');
}

@font-face {
  font-family: "Matter Light";
  src: url('assets/fonts-ttf/matter-light.ttf') format('truetype');
}

#main {
  width: 100%;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

.fh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resume {
  margin: 50px auto;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 7px 7px #f5f5f5;
  padding: 30px 0;
  max-width: 900px;
}

.resume__block {
  border-bottom: 3px solid var(--border-color);
  padding-bottom: 30px;
  margin-bottom: 15px;
}

/* Herp styles */

.content-container {
  width: 100%;
  padding: 15vw 11vw;
}

.cover {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  padding-bottom: 0%;
}

.content {
  display: flex;
  flex-direction: column;
}

.content-upper {
  font-family: "Matter Regular";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-left: 6px;
  color: #000;
}

.content-upper::selection {
  color: #fff;
  background-color: #000;
}

.content-medium {
  font-family: "Matter Regular";
  font-size: 7.5rem;
  color: transparent;
  -webkit-text-stroke: 2px #605d5d;
  letter-spacing: -6px;

}

.end-home-page {
  width: 100%;
  padding: 1vw 11vw;
  display: flex;
  flex-direction: column;
}

.end-content {
  font-family: "Matter Regular";
  font-size: 30px;
  font-weight: 600;
  word-spacing: 2px;
  line-height: 40px;
}

.end-content::selection {
  color: #fff;
  background-color: #000;
}

/*Contact info styles*/

#third-page {
  width: 100%;
  padding-top: 13vw;
  padding-bottom: 13vw;
  background-color: #fff;
}

.third-page-content {
  margin-top: -15vh;
}

.third-page-upper {
  color: #000;
  font-family: "Matter Regular";
  font-size: 100px;
  display: flex;
  flex-direction: column;
  padding: 5vw 11vw;
  padding-bottom: 1vw;
}

.hey {
  font-family: "Matter Light";
  font-style: italic;
}

.third-page-middle {
  padding: 3vw 11vw;
  margin-top: 2vw;
}

.third-page-middle p {
  font-family: "Matter Light";
  font-size: 30px;
}

.third-page-lower {
  padding: 0vw 11vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 2vw;
}
.third-page-lower__btn {
  display: flex;
  align-items: center;
}
.contact-icon {
  width: 30px;
  height: 30px;
  padding-right: 7px;
}

.third-page-lower button {
  padding: 1.3vw 2vw;
  font-family: "Matter Regular";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000;
  background-color: transparent;
  border: 2.5px solid #000;
  border-radius: 100px;
  text-transform: capitalize;
}

/* Skills styles */

.skills__header {
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 15px;
}

.skills__text {
  color: var(--secondary-text-color);
  text-align: justify;
}

/*Experience and additional info styles*/

.experiences {
  flex: 1 1 60%;
  margin-right: 50px;
}

.experiences__header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.experiences__company-header-durability {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.experiences__company-header-name {
  color: var(--primary-text-color);
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
  text-align: left;
  margin-bottom: 20px;
}

.experiences__company-project {
  margin-left: 15px;
  margin-bottom: 25px;
}

.experiences__company-project-role {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.experiences__company-project-name {
  color: var(--primary-text-color);
  text-align: left;
  margin-bottom: 10px;
}

.experiences__company-project-responsibilities {
  color: var(--secondary-text-color);
  padding-left: 20px;
}

.additional-info {
  flex: 1 1 40%;
}

.additional-info__education {
  margin-bottom: 20px;
}

.additional-info__education-header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.additional-info__education-university-durability {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.additional-info__education-university-speciality {
  color: var(--primary-text-color);
  text-align: left;
  margin-bottom: 10px;
}

.additional-info__education-university-name {
  color: var(--secondary-text-color);
}

.additional-info__languages {
  margin-bottom: 20px;
}

.additional-info__languages-header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.additional-info__languages-item {
  color: var(--secondary-text-color);
}

@media screen and (max-width: 576px) {
  .main-info,
  .contact_info_container {
    flex-direction: column;
  }

  .contact_info_container {
    align-items: center;
  }

  .contact-info__block:not(:last-child) {
    margin-bottom: 20px;
  }

  .experiences {
    margin-right: 0;
  }
}